{% extends "partials/base.html" %}
{% load static %}	
{% block content %}
<!-- hero alanı -->
<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">Taze ve Organik</p>
            <h1>Lezzetli Mevsim Meyveleri</h1>
            <div class="hero-btns">
              <a href="{% url 'core:shop' %}" class="boxed-btn">Ürünlerimiz</a>
              <a href="contact.html" class="bordered-btn">Bize Ulaşın</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hero alanı sonu -->

<!-- özellikler listesi bölümü -->
<div class="list-section pt-80 pb-80">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="content">
            <h3>Ücretsiz Kargo</h3>
            <p>$75 üzeri siparişlerde</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="fas fa-phone-volume"></i>
          </div>
          <div class="content">
            <h3>7/24 Destek</h3>
            <p>Tüm gün destek alın</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="list-box d-flex justify-content-start align-items-center">
          <div class="list-icon">
            <i class="fas fa-sync"></i>
          </div>
          <div class="content">
            <h3> İade</h3>
            <p>3 gün içinde iade alın!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- özellikler listesi bölümü sonu -->

<!-- ürün bölümü -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">	
          <h3><span class="orange-text">Öne Çıkan</span> Ürünler</h3>
          <p>Bu haftanın öne çıkan ürünleri.</p>
        </div>
      </div>
    </div>

    <div class="row">
      {% for p in products %}
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"><img src="{{p.image.url}}" alt=""></a>
          </div>
          <h3>{{p.title}}</h3>
          <p class="product-price"><span style=font-size:18px><del>{{p.old_price}}₺</del></span> {{p.price}}₺ /kg </p>
          <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Sepete Ekle</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- ürün bölümü sonu -->

<!-- referans bölümü -->
<div class="testimonail-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <div class="testimonial-sliders">
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="{% static 'assets/img/avaters/avatar1.png' %}" alt="">
            </div>
            <div class="client-meta">
              <h3>Saira Hakim <span>Mahalle dükkanı sahibi</span></h3>
              <p class="testimonial-body">
                " Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="{% static 'assets/img/avaters/avatar2.png' %}" alt="">
            </div>
            <div class="client-meta">
              <h3>David Niph <span>Mahalle dükkanı sahibi</span></h3>
              <p class="testimonial-body">
                " Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <div class="client-avater">
              <img src="{% static 'assets/img/avaters/avatar3.png' %}" alt="">
            </div>
            <div class="client-meta">
              <h3>Jacob Sikim <span>Mahalle dükkanı sahibi</span></h3>
              <p class="testimonial-body">
                " Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- referans bölümü sonu -->

<!-- reklam bölümü -->
<div class="abt-section mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="abt-bg">
          <a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="abt-text">
          <p class="top-sub">1999'dan Beri</p>
          <h2>Biz <span class="orange-text">Fruitkha</span></h2>
          <p>Etiam vulputate ut augue vel sodales. In sollicitudin neque et massa porttitor vestibulum ac vel nisi. Vestibulum placerat eget dolor sit amet posuere. In ut dolor aliquet, aliquet sapien sed, interdum velit. Nam eu molestie lorem.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis illo repellat veritatis minus, et labore minima mollitia qui ducimus.</p>
          <a href="about.html" class="boxed-btn mt-4">Daha Fazla Bilgi</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- reklam bölümü sonu -->

<!-- blog bölümü -->
</div>
</div>

{% endblock content %}
