{% extends "partials/base.html" %}
{% load static %}	
{% block content %}	
    
    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Ürün Sayfası</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	<!-- single product -->
	<div class="single-product mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="single-product-img">
                        <img src="{{product.image.url}}" alt="">
					</div>
                    <div class="row">
                    {% for p in p_image %}
                        <div class="single-product-img enlarge-image" style="width:120px; height:120px; margin-top:5%; margin-left:15px;">
                            <img src="{{p.images.url}}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    
                    
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>{{product.title}}</h3>
						<p  class="single-product-pricing current-product-price-{{product.id}}"><span>KG</span> {{product.price}}</p>
						<p>{{product.description}}</p>
						<div class="single-product-form">

								
							<input type="number" value="1" id="product-quantity" class="product-quantity-{{product.id}}"> <span>KG</span> <br>
							{% comment %} <input type="hidden" value="{{product.id}}" class="product-id">
							<input type="hidden" value="{{product.title}}" class="product-title"> {% endcomment %}
							{% comment %} <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{product.id}}"> {% endcomment %}
							<input type="hidden" class="product-image-{{product.id}}" value="{{product.image.url}}">
							<input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}">
							<input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}">
							<button  type="submit" class="btn btn-warning add-to-cart-btn" data-index="{{product.id}}"><i class="fas fa-shopping-cart"></i> Sepete Ekle</button>
						</div>
						<h4>Paylaş:</h4>
						<ul class="product-share">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Yorumlar -->

	<link rel="stylesheet" href="{% static 'assets/css/comment.css' %}" />

    <div class="container">
        <div id="reviews" class="review-section">
			<div class="d-flex align-items-center justify-content-between mb-4">
				<h4 class="m-0">{{review.count}} Yorum.</h4>
				
				
					<span class="dropdown-wrapper" aria-hidden="true"></span>
				</span>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="stars-counters">
						<tbody>
							<tr class="">
								<td>
									<span>
										<button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">5 Stars</button>
									</span>
								</td>
								<td class="progress-bar-container">
									<div class="fit-progressbar fit-progressbar-bar star-progress-bar">
										<div class="fit-progressbar-background">
											<span class="progress-fill" style="width: 97.2973%;"></span>
										</div>
									</div>
								</td>
								<td class="star-num">(36)</td>
							</tr>
							<tr class="">
								<td>
									<span>
										<button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">4 Stars</button>
									</span>
								</td>
								<td class="progress-bar-container">
									<div class="fit-progressbar fit-progressbar-bar star-progress-bar">
										<div class="fit-progressbar-background">
											<span class="progress-fill" style="width: 2.2973%;"></span>
										</div>
									</div>
								</td>
								<td class="star-num">(2)</td>
							</tr>
							<tr class="">
								<td>
									<span>
										<button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">3 Stars</button>
									</span>
								</td>
								<td class="progress-bar-container">
									<div class="fit-progressbar fit-progressbar-bar star-progress-bar">
										<div class="fit-progressbar-background">
											<span class="progress-fill" style="width: 0;"></span>
										</div>
									</div>
								</td>
								<td class="star-num">(0)</td>
							</tr>
							<tr class="">
								<td>
									<span>
										<button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">2 Stars</button>
									</span>
								</td>
								<td class="progress-bar-container">
									<div class="fit-progressbar fit-progressbar-bar star-progress-bar">
										<div class="fit-progressbar-background">
											<span class="progress-fill" style="width: 0;"></span>
										</div>
									</div>
								</td>
								<td class="star-num">(0)</td>
							</tr>
							<tr class="">
								<td>
									<span>
										<button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">1 Stars</button>
									</span>
								</td>
								<td class="progress-bar-container">
									<div class="fit-progressbar fit-progressbar-bar star-progress-bar">
										<div class="fit-progressbar-background">
											<span class="progress-fill" style="width: 0;"></span>
										</div>
									</div>
								</td>
								<td class="star-num">(0)</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<div class="ranking" style="margin-top:5%">
						<h6 class="text-display-7">Ortalama Yıldız: {{average_rating.rating|floatformat}}/ 5⭐ </h6>
						
					</div>
				</div>
			</div>
		</div>
	
            

                <div class="col-md-12">
                    <div class="d-flex align-items-center justify-content-between mb-4 col-md-12">
                        <h4>Düşüncelerinizi Belirtiniz</h4>
                        {%if messages %}
                            {%for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{message}}
                                </div>
                            {%endfor%}
                        {%endif%}
                    </div>
                    <form action="/products/addcomment/{{product.id}}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                       
            
                    </div>
            
                    <div class="form-group">
                        <textarea class="input" name="review" id="id_comment" placeholder="Yorumunuz"></textarea>
                    </div>
            
                    <div class="form-group">
                        <strong>Yıldız:</strong>
                        <div class="stars">
                            <input type="radio" id="star1" name="rating" value="5"><label for="star1"></label>
                            <input type="radio" id="star2" name="rating" value="4"><label for="star2"></label>
                            <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
                            <input type="radio" id="star4" name="rating" value="2"><label for="star4"></label>
                            <input type="radio" id="star5" name="rating" value="1"><label for="star5"></label>
                        </div>
                    </div>
                    
            
            
                    {% if user.id  is not None%}
            
                    <button class="button-50" style="margin-top:20px; display: flex;justify-content: center; text-align: center;">Gönder</button>
                    {%else%}
                    Yorum Eklemek için Kayıt Olunuz!
                    {%endif%}
                </form>
            </div>
            </div>
        </div>

    
        
        <div class="container" style="margin-top:5%;">
        {% for rs in review %}
        <div class="review-list">
            <ul>
                <li>
                    <div class="d-flex">
                        <div class="left">
                            <span>
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="profile-pict-img img-fluid" alt="" />
                            </span>
                        </div>
                        <div class="right">
                            <h4>
                                {{rs.user.username}}
                                <span class="gig-rating text-body-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                        <path
                                        fill="currentColor"
                                            d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"
                                        ></path>
                                    </svg>
                                    {{rs.rating}}
                                </span>
                            </h4>
                            <div class="review-description">
                                
                            </div>
                            <div class="review-description">
                                <p>
                                    {{rs.review}}
                                </p>
                            </div>
                            <span class="publish py-3 d-inline-block w-100">{{rs.date}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>
<!-- HTML !-->

    <style>
        .enlarge-image {
            transition: transform 0.2s; /* Add a smooth transition effect */
        }
    
        .enlarge-image:hover {
            transform: scale(1.8); /* Enlarge the image to 120% when hovered */
            cursor: pointer;
             /* Change the cursor to indicate interactivity */
        }
    </style>
    
	<!-- end single product -->
{% endblock content%}