{% extends "partials/base.html" %}
{% load static %}	
{% block content %}
<div class="col-md-12" style="margin-top:6%">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group" >
                        <a href="{% url 'user:profile' %}" class="list-group-item list-group-item-action">Kullanıcı Bilgileri</a>
                        <a href="{% url 'user:profile-update' %}" class="list-group-item list-group-item-action">Bilgileri Güncelle</a>
                        <a href="{% url 'user:change_password' %}" class="list-group-item list-group-item-action">Şifreyi Değiştir</a>
                        <a href="{% url 'user:comments' %}" class="list-group-item list-group-item-action">Yorumlarım</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- İçerik buraya gelecek -->
                    <div class="d-flex flex-column align-items-center text-center" style="margin-right:20%">
                        <img src="{{profile.image.url}}" alt="Admin" class="rounded-circle" width="150" >
                        <div class="mt-3">
                            <h4>{{profile.user.username}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="card mb-3 " >
        <div class="card-body ">
          <div class="row " >
            <div class="col-sm-3">
              <h6 class="mb-0">Ad Soyad</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{profile.full_name}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{profile.user.email}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Telefon Numarası</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{profile.phone}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Bio</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{profile.bio}}
            </div>
          </div>
          <hr>          
        </div>
      </div>

 {% endblock content%}     